#!/usr/bin/env ruby

compile '/**/*.html' do
  filter :rubypants
  filter :relativize_paths, type: :html
  layout '/default.*'
end

compile '/**/*.slim' do
  filter :slim
  filter :rubypants
  filter :relativize_paths, type: :html
  layout '/default.*'
end

compile '/**/*.md' do
  filter :kramdown, syntax_highlighter: nil
  filter :rubypants
  filter :relativize_paths, type: :html
  layout '/blog.*'
end

compile '/**/_*.scss' do
  # ignore scss partials
end

compile '/**/*.scss' do
  filter :sass, syntax: :scss, style: :compact
  filter :relativize_paths, type: :css
  filter :yui_compressor, type: :css
  write item.identifier.without_ext + '.css'
end

compile '/**/*.coffee' do
  filter :coffeescript
  filter :yui_compressor, type: :js
  write item.identifier.without_ext + '.js'
end

compile '/**/*.css' do
  filter :relativize_paths, type: :css
  filter :yui_compressor, type: :css
  write item.identifier.without_ext + '.css'
end

compile '/**/*.js' do
  filter :yui_compressor, type: :js
  write item.identifier.without_ext + '.js'
end

compile '/atom.erb' do
  filter :erb
  write '/atom.xml'
end

route '/**/*.{html,md,slim}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  elsif item.identifier =~ '/404.*'
    '/404.html'
  elsif item.identifier =~ '/copyright-exceptions.*'
    '/copyright-exceptions.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

%w(blog preview special).each do |type|
  compile "/assets/#{type}_images/*/*.{jpg,png,gif}" do
    new_location = item.identifier.to_s.gsub("\/assets\/#{type}_images\/", "/#{type}/")
    write new_location
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :slim
