#!/usr/bin/env ruby

compile '/**/*.html' do
  filter :rubypants
  filter :relativize_paths, type: :html
  layout '/default.*'
end

compile '/**/*.md' do
  filter :kramdown
  filter :rubypants
  filter :relativize_paths, type: :html
  layout '/default.*'
end

compile '/**/_*.scss' do
  # ignore scss partials
end

compile '/**/*.scss' do
  filter :sass, syntax: :scss, style: :compact
  filter :relativize_paths, type: :css
  filter :yui_compressor, type: :css
  write item.identifier.without_ext + '.css'
end

compile '/**/*.coffee' do
  filter :coffeescript
  filter :yui_compressor, type: :js
  write item.identifier.without_ext + '.js'
end

compile '/**/*.css' do
  filter :relativize_paths, type: :css
  filter :yui_compressor, type: :css
  write item.identifier.without_ext + '.css'
end

compile '/**/*.js' do
  filter :yui_compressor, type: :js
  write item.identifier.without_ext + '.js'
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :slim
