/* Gutenberg defaults
   ========================================================================== */

// Maximum width of the article (Mobile)
article,
body > footer {
  width: 80%;
  margin: 0 auto;
}

body {
  @include padding(0, 1);
}

p, h1, h2, h3, h4, h5 {
  code {
    display: inline;
    padding: 0;
  }
}

// Grid button
.toggleWrapper {
  @if $edit-mode == true {
    display: block;
  } @else if $edit-mode == false {
    display: none;
  }
  position: fixed;
  top: #{$leading + 'px'};
  right: #{$leading + 'px'};
  background-color: #231F20;
  border-radius: 25px;
  padding: 0 10px 0 20px;
  height: 32px;
}

.btnToggleGrid {
  background: url('../../assets/images/grid-icons.png') top right no-repeat;
  background-size: 32px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding-right: 35px;
  height: 32px;
  line-height: 34px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;

  &:hover {
    color: #fff;
  }

  &:active {
    color: #f00;
  }
}

.double-grid {
  background-position-y: -32px;
}

.grid-off {
  background-position-y: -64px;
}

// Text Alignment
.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

// Fix letter spacing for uppercase
.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase;
}

/* Put your styles below this line
   ========================================================================== */

@media screen and (max-width: #{$max-width / 2 + 'em'}) {
  h1 {
    font-size: 1.6875rem;
    line-height: 2.5rem;
  }
}

header {
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

nav {
  a {
    display: inline-block;
    margin-right: 1.5rem;
  }
}

main {
  h1 {
    &:before {
      content: 'you are reading:';
      display: block;
      color: gray;
      font-weight: 200;
      font-size: 0.5em;
    }
    margin-top: 2.75rem;
  }
  h1.no-heading {
    &:before {
      content: '';
    }
  }
}

blockquote {
  border-left: 0.25rem solid lightgray;
}

pre {
  font-size: 0.85rem;
  code {
    padding: 1rem;
    display: block;
    border: 1px solid #2d2d2d;
  }
}

#article-list {
  li.header {
    list-style: none;
    margin-left: -40px;
  }

  li {
    list-style: square;
    margin-top: 0.75rem;

    p.abstract {
      font-size: 0.9rem;
      margin: 0.8125rem 0 1.625rem 0;
    }
  }
}

table th,
table td {
  padding: 0.25em;
}

.author {
  display: inline-block;
  border-radius: 50%;
  height: 2rem;
  vertical-align: text-top;
  margin-bottom: 0;
  margin-right: 0.5rem;
}

p code {
  color: #2d2d2d;
  background: #cccccc;
  padding: 0.1rem 0.25rem;
  border-radius: 4px;
  font-size: 0.8rem;
  vertical-align: bottom;
}

.hljs {
  line-height: 1.5em !important;
  span {
    line-height: 1.5em !important;
  }
}

img {
  margin: auto
}

.special {
  width: 45%;
  list-style: none;
  box-shadow: 0 2px 4px gray;
  display: inline-block;
  margin-right: 2.5%;
  margin-left: 2.5%;
  text-decoration: none;
  padding-bottom: 1.6875rem;
  vertical-align: top;

  h4 {
    margin: 0;
    padding: 0 .84375rem;
    margin-top: 0;
    text-align: center;
  }
}

.hidden {
  display: none !important;
}

@media screen and (max-width: #{$max-width / 1.5 + 'em'}) {
  .special {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

body > footer {
  width: auto;
  margin-top: 1.25rem;
  font-size: 70%;
  line-height: 0.84375rem;
  #cc {
    img {
      line-height: 0.84375rem;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
