/* Gutenberg defaults
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

$success-color: #28a745;
$danger-color: #da1414;
$warning-color: #ff8800;

// Maximum width of the article (Mobile)
article,
body > footer {
  width: 80%;
  margin: 0 auto;
}

body {
  @include padding(0, 1);
}

p, h1, h2, h3, h4, h5 {
  code {
    display: inline;
    padding: 0;
  }
}

// Grid button
.toggleWrapper {
  @if $edit-mode == true {
    display: block;
  } @else if $edit-mode == false {
    display: none;
  }
  position: fixed;
  top: #{$leading + 'px'};
  right: #{$leading + 'px'};
  background-color: #231F20;
  border-radius: 25px;
  padding: 0 10px 0 20px;
  height: 32px;
}

.btnToggleGrid {
  background: url('../../assets/images/grid-icons.png') top right no-repeat;
  background-size: 32px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding-right: 35px;
  height: 32px;
  line-height: 34px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;

  &:hover {
    color: #fff;
  }

  &:active {
    color: #f00;
  }
}

.double-grid {
  background-position-y: -32px;
}

.grid-off {
  background-position-y: -64px;
}

// Text Alignment
.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

// Fix letter spacing for uppercase
.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase;
}

/* Put your styles below this line
   ========================================================================== */

@media screen and (max-width: #{$max-width / 2 + 'em'}) {
  h1 {
    font-size: 1.6875rem;
    line-height: 2.5rem;
  }
}

header {
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

nav {
  a {
    display: inline-block;
    margin-right: 1.5rem;
  }
}

main {
  h1 {
    &:before {
      content: 'You are reading:';
      display: block;
      color: gray;
      font-weight: 200;
      font-size: 0.5em;
    }
    margin-top: 2.75rem;
  }
  h1.no-heading {
    &:before {
      content: '';
    }
  }
}

blockquote {
  border-left: 0.25rem solid lightgray;
}

pre {
  code {
    margin-bottom: 0 !important;
    padding: 0 !important;
  }
}

#article-list {
  li.header {
    list-style: none;
    margin-left: -40px;
  }

  li {
    list-style: square;
    margin-top: 0.75rem;

    p.abstract {
      font-size: 0.9rem;
      margin: 0.8125rem 0 1.625rem 0;
    }
  }
}

table th,
table td {
  padding: 0.25em;
}

.author {
  display: inline-block;
  border-radius: 50%;
  height: 2rem;
  vertical-align: text-top;
  margin-bottom: 0;
  margin-right: 0.5rem;
}

//p code {
  //color: #2d2d2d;
  //background: #cccccc;
  //padding: 0.1rem 0.25rem;
  //border-radius: 4px;
  //font-size: 0.8rem;
  //vertical-align: bottom;
//}

input#permalink {
  width: 100%;
  display: block;
}

section#bio {
  display: flex;
  flex-direction: row;
  img {
    max-width: 64px;
    max-height: 64px;
    margin: 0;
  }
  p {
    padding: 0 1.5rem;
    flex: 1;
  }
}

.hljs {
  line-height: 1.5em !important;
  span {
    line-height: 1.5em !important;
  }
}

img {
  margin: auto
}

.special {
  box-shadow: 0 2px 6px #cacaca;
  margin-right: 2.5%;
  margin-left: 2.5%;
  text-decoration: none;
  padding-bottom: 1.6875rem;
  vertical-align: top;
  border-radius: 6px;
  h4 {
    margin: 0;
    padding: 0 .84375rem;
    margin-top: 0;
    text-align: center;
  }
  img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.hidden {
  display: none !important;
}

@media screen and (max-width: #{$max-width / 1.5 + 'em'}) {
  section#special-article-list {
    grid-template-columns: 100% !important;
  }
}

section#old,
section#timeless,
section#unprofessional,
section#deprecated {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    display: block;
    font-size: 0.9rem;
    flex: 1;
    background-color: $warning-color;
    font-family: Open Sans, Arial, Helvetica, Sans-serif;
    border-radius: 4px;
    color: white;
    padding: 0.625rem;
    margin-bottom: 0;
  }
  span {
    padding-right: 0.5rem;
    font-size: 3.25rem;
    color: $warning-color;
    line-height: 100%;
    margin-bottom: 0;
  }
  a {
    color: white;
    &:hover,
    &:visited,
    &:active,
    &:focus {
      color: white;
    }
  }
  &#timeless{
    p {
      background-color: $success-color;
    }
    span {
      color: $success-color;
    }
  }
  &#deprecated {
    p {
      background-color: $danger-color;
    }
    span {
      color: $danger-color;
    }
  }
}

section#special-article-list {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

body > footer {
  width: auto;
  margin-top: 1.25rem;
  font-size: 70%;
  line-height: 0.84375rem;
  #cc {
    img {
      line-height: 0.84375rem;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

a#tracking-status {
  display: block;
  width: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  padding-right: 1em;
  text-decoration: none;

  &.unloaded::before {
    content: "\1F648";
    margin-left: -0.25em;
  }

  &.loaded::before {
    content: "\1F649";
    margin-left: -0.25em;
  }
}
