meta charset="utf-8"
meta name="viewport" content="width=device-width,initial-scale=1.0"
- title = "#{@item[:title]} - Tommy Ku's Method Stub - Random thoughts, stories and tutorials of a web dev"
- description = "#{@item[:description].nil? ? 'Web developer Tommy Ku talks about his experience in work, learning and life.' : @item[:description]}"
meta name="title" content=title
meta name="description" content=description
meta name="author" content="Tommy Ku"
meta property="og:title" content=title
meta property="og:type" content="article"
link rel="icon" type="image/png" href="/assets/images/author.jpg"
link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Tommy Ku's Method Stub"
